{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
<h1>{{ course.title }}</h1>
<p>{{ course.description }}</p>
<h3>Modules</h3>
<ol>
  {% for m in course.modules.all %}
    <li>{{ m.title }}</li>
  {% endfor %}
</ol>

{% if request.user.is_authenticated %}
  <form method="post" action="{% url 'buy_course' course.id %}">{% csrf_token %}
    <button type="submit">Buy Course ({{ course.price }})</button>
  </form>
{% else %}
  <p><a href="/login/">Login</a> untuk membeli course.</p>
{% endif %}
{% endblock %}
